
node_modules/
.pnp.*
.pnpm-store/


.next/
out/
.next/cache/
.next/types/


dist/
.turbo/
.swc/
.eslintcache


.env
.env.*
!.env.example


.vercel/


npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log


.vscode/
.DS_Store
Thumbs.db
